<footer class="footer color-{{ section.settings.color_scheme }}{% if section.settings.transparent_footer %} transparent-password{% endif %}{% if section.settings.separator_line %} separator-line{% endif %}">
	<div class="container">
		<div class="password-footer">
			<p class="password-footer-copyright">
				 {% capture shopify_link %}
					<a class="shopify-link" href="//www.shopify.com" rel="nofollow" target="_blank" aria-describedby="a11y-new-window-message" aria-label="Shopify">
						<span class="shopify-label">Shopify</span>
					</a>
				{% endcapture %}
				{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify_link }}
			</p>

			<p class="password-footer-login">{{- 'general.password_page.admin_link_html' | t -}}</p>
		</div>
	</div>
</footer>

{% schema %}
{
	"name": "t:sections.main-password-footer.name",
	"settings": [
		{
			"type": "color_scheme",
			"id": "color_scheme",
			"label": "t:settings_schema.colors.label",
			"default": "scheme-1"
		},
		{
			"type": "checkbox",
			"id": "transparent_footer",
			"default": false,
			"label": "t:sections.main-password-footer.settings.transparent_footer.label"
		},
		{
			"type": "checkbox",
			"id": "separator_line",
			"default": false,
			"label": "t:sections.main-password-header.settings.separator_line.label"
		}
	]
}
{% endschema %}
